[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
datashare-network-core = '==0.9.1'
starlette = '*'
uvicorn = {extras = ['standard'], version = '*'}
pytest = '*'
sqlalchemy = '*'
databases = {extras = ['sqlite', 'postgresql'], version = '*'}
alembic = '*'
psycopg2 = '*'

[dev-packages]
bumpversion = '==0.6.0'
setuptools-pipfile = '==0.4.1'
twine = '==3.2.0'
pytest = '*'
pytest-timeout = '*'

[requires]
python_version = '3'
