[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
datashare-network-core = {editable = true, ref = "bbdb28d3cf6774b6db30ed3d7c0cb9f14681389c", git = "https://github.com/ICIJ/datashare-network-core.git"}
starlette = '==0.20.4'
uvicorn = {extras = ['standard'], version = '==0.18.2'}
sqlalchemy = '==1.4.39'
databases = {extras = ['sqlite', 'postgresql'], version = '==0.6.0'}
alembic = '==1.8.1'
psycopg2 = '==2.9.3'
redis = '==4.3.4'

[dev-packages]
pytest = '*'
bumpversion = '==0.6.0'
pytest-asyncio = "==0.18.2"
setuptools-pipfile = '==0.4.1'
twine = '==3.2.0'
pytest-timeout = '*'
aiohttp = "*"

[requires]
python_version = '3'
